*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
      background:#fff;
 
}
body{
    overscroll-behavior-block: #eee;
}
.heading{
    color: #444;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
}
.container .main-video-container{
    background: #fff;
    border-radius: 5px ;
    padding: 10px;
}
.container .main-video-container video{
    width: 100%;
    border-radius: 5px;
}
.container .main-video-container .main-vid-title{
    color: #333;
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.container .video-list-container{
    background: #fff;
    border-radius: 5px;
    height: 900px;
    overflow-y: scroll ;
}
.container .video-list-container::-webkit-scrollbar{
    width: 7px;
}
.container .video-list-container::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}
.container .video-list-container::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
} 
.container .video-list-container .list video{
width: 100px;
border-radius: 5px;
display: none;
}
.container .video-list-container .list{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;    
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;

}
.container .video-list-container .list:hover{
    background: #eee;
}
.container .video-list-container .list.active{
    background: #2980b9 ;
}
.container .video-list-container .list.active .list-title{
    color: #fff;
    background:#2980b9;
}
.container .video-list-container .list .list-title{
    color:#333;
        
    font-size: 17px;
}
@media (max-width:991px){
    .container{
           grid-template-columns: 1.5fr 1fr;
            padding: 10px;
    }

}
@media (max-width:768px){
    .container{
           grid-template-columns: 1fr;
          
    }
    .container .video-list-container{
  
    height: 400px;
   
}
}











